In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from sklearn import linear_model, preprocessing
from sklearn.metrics import r2_score,mean_squared_error
from m5py import M5Prime, export_text_m5
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn import tree

In [2]:
df = pd.read_excel("D:\BTP\Gopalkheda and yerli\Combined model\combined.xlsx")
df

,Year,Month,Day,Discharge,cluster,RF101,RF101(t-1),RF101(t-2),RF117,RF117(t-1),...,cluster(t-1),cluster(t-2),Q(t-1),Q(t-2),Q(t-3),base flow,Lump temp(t-1),T5(t-1),T10(t-1),T11(t-1)
0,1977,6,1,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.15,0.000000,0.00,0.00,0.00
1,1977,6,2,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.3,0.0,0.0,0.15,34.147357,34.10,33.25,33.95
2,1977,6,3,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.3,0.3,0.0,0.15,33.897445,33.60,33.05,33.85
3,1977,6,4,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.3,0.3,0.3,0.15,34.300330,34.35,33.55,34.30
4,1977,6,5,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.3,0.3,0.3,0.15,35.223726,34.90,34.45,35.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16066,2021,5,27,0.0,0.0083,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.00,33.078998,33.55,33.60,33.15
16067,2021,5,28,0.0,0.0000,0.0,0.0,0.0,5.2,0.0,...,0.0083,0.0000,0.0,0.0,0.0,0.00,32.852387,33.30,33.30,32.80
16068,2021,5,29,0.0,0.1713,0.4,0.0,0.0,0.0,5.2,...,0.0000,0.0083,0.0,0.0,0.0,0.00,33.126443,33.30,33.25,33.15
16069,2021,5,30,0.0,1.0604,1.2,0.4,0.0,0.0,0.0,...,0.1713,0.0000,0.0,0.0,0.0,0.00,33.681231,34.05,33.95,34.00
16070,2021,5,31,0.0,0.4888,0.4,1.2,0.4,0.0,0.0,...,1.0604,0.1713,0.0,0.0,0.0,0.00,31.945709,31.65,31.90,31.75

In [3]:
df1 = df[0:10957]
df2 = df[10957:]
df1

,Year,Month,Day,Discharge,cluster,RF101,RF101(t-1),RF101(t-2),RF117,RF117(t-1),...,cluster(t-1),cluster(t-2),Q(t-1),Q(t-2),Q(t-3),base flow,Lump temp(t-1),T5(t-1),T10(t-1),T11(t-1)
0,1977,6,1,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.15,0.000000,0.00,0.00,0.00
1,1977,6,2,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.3,0.0,0.0,0.15,34.147357,34.10,33.25,33.95
2,1977,6,3,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.3,0.3,0.0,0.15,33.897445,33.60,33.05,33.85
3,1977,6,4,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.3,0.3,0.3,0.15,34.300330,34.35,33.55,34.30
4,1977,6,5,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.3,0.3,0.3,0.15,35.223726,34.90,34.45,35.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10952,2007,5,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,33.925696,34.25,33.40,33.80
10953,2007,5,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,33.651560,34.15,33.30,33.50
10954,2007,5,29,0.0,0.0,0.0,0.0,0.0,0.3,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,33.779415,34.05,33.55,34.00
10955,2007,5,30,0.0,0.0,0.0,0.0,0.0,0.0,0.3,...,0.0,0.0,0.0,0.0,0.0,0.00,31.176516,31.80,31.15,30.95
10956,2007,5,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,32.225278,32.75,32.40,31.95

In [4]:
df2

,Year,Month,Day,Discharge,cluster,RF101,RF101(t-1),RF101(t-2),RF117,RF117(t-1),...,cluster(t-1),cluster(t-2),Q(t-1),Q(t-2),Q(t-3),base flow,Lump temp(t-1),T5(t-1),T10(t-1),T11(t-1)
10957,2007,6,1,23.8,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.52,33.526604,33.90,33.65,33.45
10958,2007,6,2,23.0,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,23.8,0.0,0.0,1.00,33.475285,33.65,33.75,33.40
10959,2007,6,3,22.1,0.8942,1.8,0.0,0.0,6.4,0.0,...,0.0000,0.0000,23.0,23.8,0.0,1.44,33.432484,33.20,34.85,34.20
10960,2007,6,4,21.7,0.0000,0.0,1.8,0.0,0.0,6.4,...,0.8942,0.0000,22.1,23.0,23.8,1.86,32.900418,32.70,32.30,33.05
10961,2007,6,5,22.6,2.1309,3.3,0.0,1.8,1.4,0.0,...,0.0000,0.8942,21.7,22.1,23.0,2.28,33.069757,32.85,32.65,32.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16066,2021,5,27,0.0,0.0083,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.00,33.078998,33.55,33.60,33.15
16067,2021,5,28,0.0,0.0000,0.0,0.0,0.0,5.2,0.0,...,0.0083,0.0000,0.0,0.0,0.0,0.00,32.852387,33.30,33.30,32.80
16068,2021,5,29,0.0,0.1713,0.4,0.0,0.0,0.0,5.2,...,0.0000,0.0083,0.0,0.0,0.0,0.00,33.126443,33.30,33.25,33.15
16069,2021,5,30,0.0,1.0604,1.2,0.4,0.0,0.0,0.0,...,0.1713,0.0000,0.0,0.0,0.0,0.00,33.681231,34.05,33.95,34.00
16070,2021,5,31,0.0,0.4888,0.4,1.2,0.4,0.0,0.0,...,1.0604,0.1713,0.0,0.0,0.0,0.00,31.945709,31.65,31.90,31.75

In [5]:
combinations = [
    ["Lump temp(t-1)","base flow","Q(t-1)","Q(t-2)","RF117(t-1)"],
    ["RF101","base flow","Q(t-1)","Q(t-2)","RF117(t-1)"],
    ["RF101","base flow","Q(t-1)","Q(t-2)","RF80"],
    ["base flow","Q(t-1)","Q(t-2)","T5(t-1)","cluster"],
    ["base flow","Q(t-1)","Q(t-2)","Q(t-3)","cluster"],
    ["base flow","Q(t-1)","Q(t-2)","Q(t-3)","cluster","RF117(t-2)"]
               ]

In [6]:
for i in combinations:
    model = M5Prime(use_pruning = True, use_smoothing = True)
    model.fit(df1[i].values,df1.Discharge.values)
    predicted = model.predict(df2[i].values)
    print(i)
    print(r2_score(df2.Discharge, predicted), mean_squared_error(df2.Discharge, predicted,squared = False))
    print()

['Lump temp(t-1)', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.6638162242228178 100.76586360604105

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.7133148377396354 93.05241825366109

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF80']
0.6961571331527584 95.79648599833455

['base flow', 'Q(t-1)', 'Q(t-2)', 'T5(t-1)', 'cluster']
0.721358071398374 91.73779341246227

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster']
0.7236382737052265 91.36166474645754

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster', 'RF117(t-2)']
0.7026959871040063 94.76008500602246

In [7]:
for i in combinations:
    model = M5Prime(use_pruning = True, use_smoothing = False)
    model.fit(df1[i].values,df1.Discharge.values)
    predicted = model.predict(df2[i].values)
    print(i)
    print(r2_score(df2.Discharge, predicted), mean_squared_error(df2.Discharge, predicted,squared = False))
    print()

['Lump temp(t-1)', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.5224311794585736 120.1000085962908

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.6345619237243475 105.05868343995486

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF80']
0.4063277940872264 133.905499703966

['base flow', 'Q(t-1)', 'Q(t-2)', 'T5(t-1)', 'cluster']
0.577572497785769 112.9538787048438

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster']
0.6539507714419528 102.23368113696809

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster', 'RF117(t-2)']
0.569829645738247 113.98436774714553

In [8]:
for i in combinations:
    model = M5Prime(use_pruning = False, use_smoothing = True)
    model.fit(df1[i].values,df1.Discharge.values)
    predicted = model.predict(df2[i].values)
    print(i)
    print(r2_score(df2.Discharge, predicted), mean_squared_error(df2.Discharge, predicted,squared = False))
    print()

['Lump temp(t-1)', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.6930205517702877 96.28967184255691

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.6801480175467318 98.28779212630175

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF80']
0.7103913764205414 93.52566413055753

['base flow', 'Q(t-1)', 'Q(t-2)', 'T5(t-1)', 'cluster']
0.707136928539364 94.04968871337033

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster']
0.7167779966924042 92.48867360878076

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster', 'RF117(t-2)']
0.7045280694996254 94.46766283761752

In [9]:
for i in combinations:
    model = M5Prime(use_pruning = False, use_smoothing = False)
    model.fit(df1[i].values,df1.Discharge.values)
    predicted = model.predict(df2[i].values)
    print(i)
    print(r2_score(df2.Discharge, predicted), mean_squared_error(df2.Discharge, predicted,squared = False))
    print()

['Lump temp(t-1)', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.561386949102932 115.09748422308276

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.5390715760028275 117.9890763330447

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF80']
0.5638240848516258 114.77727152391262

['base flow', 'Q(t-1)', 'Q(t-2)', 'T5(t-1)', 'cluster']
0.4946466903719834 123.54427160176814

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster']
0.6118391621262409 108.27567862275608

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster', 'RF117(t-2)']
0.6023401616141397 109.59252215885176