In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from sklearn import linear_model, preprocessing
from sklearn.metrics import r2_score,mean_squared_error
from m5py import M5Prime, export_text_m5
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn import tree

In [2]:
df = pd.read_excel("D:\BTP\Gopalkheda and yerli\Combined model\combined.xlsx")
df

,Year,Month,Day,Discharge,cluster,RF101,RF101(t-1),RF101(t-2),RF117,RF117(t-1),...,cluster(t-1),cluster(t-2),Q(t-1),Q(t-2),Q(t-3),base flow,Lump temp(t-1),T5(t-1),T10(t-1),T11(t-1)
0,1977,6,1,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.15,0.000000,0.00,0.00,0.00
1,1977,6,2,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.3,0.0,0.0,0.15,34.147357,34.10,33.25,33.95
2,1977,6,3,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.3,0.3,0.0,0.15,33.897445,33.60,33.05,33.85
3,1977,6,4,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.3,0.3,0.3,0.15,34.300330,34.35,33.55,34.30
4,1977,6,5,0.3,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.3,0.3,0.3,0.15,35.223726,34.90,34.45,35.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16066,2021,5,27,0.0,0.0083,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.00,33.078998,33.55,33.60,33.15
16067,2021,5,28,0.0,0.0000,0.0,0.0,0.0,5.2,0.0,...,0.0083,0.0000,0.0,0.0,0.0,0.00,32.852387,33.30,33.30,32.80
16068,2021,5,29,0.0,0.1713,0.4,0.0,0.0,0.0,5.2,...,0.0000,0.0083,0.0,0.0,0.0,0.00,33.126443,33.30,33.25,33.15
16069,2021,5,30,0.0,1.0604,1.2,0.4,0.0,0.0,0.0,...,0.1713,0.0000,0.0,0.0,0.0,0.00,33.681231,34.05,33.95,34.00
16070,2021,5,31,0.0,0.4888,0.4,1.2,0.4,0.0,0.0,...,1.0604,0.1713,0.0,0.0,0.0,0.00,31.945709,31.65,31.90,31.75

In [3]:
df1 = df[0:11688]
df2 = df[11688:]
df1

,Year,Month,Day,Discharge,cluster,RF101,RF101(t-1),RF101(t-2),RF117,RF117(t-1),...,cluster(t-1),cluster(t-2),Q(t-1),Q(t-2),Q(t-3),base flow,Lump temp(t-1),T5(t-1),T10(t-1),T11(t-1)
0,1977,6,1,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.15,0.000000,0.00,0.00,0.00
1,1977,6,2,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.3,0.0,0.0,0.15,34.147357,34.10,33.25,33.95
2,1977,6,3,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.3,0.3,0.0,0.15,33.897445,33.60,33.05,33.85
3,1977,6,4,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.3,0.3,0.3,0.15,34.300330,34.35,33.55,34.30
4,1977,6,5,0.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.3,0.3,0.3,0.15,35.223726,34.90,34.45,35.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,2009,5,27,0.0,0.0,0.0,0.6,0.0,0.0,0.0,...,0.105,0.000,0.0,0.0,0.0,0.00,33.946859,34.00,33.45,33.65
11684,2009,5,28,0.0,0.0,0.0,0.0,0.6,0.0,0.0,...,0.000,0.105,0.0,0.0,0.0,0.00,34.773719,34.80,34.30,34.65
11685,2009,5,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.00,35.349341,35.25,34.65,35.35
11686,2009,5,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.00,35.297686,35.30,34.70,35.10
11687,2009,5,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.00,33.746859,33.80,33.35,33.45

In [5]:
df2

,Year,Month,Day,Discharge,cluster,RF101,RF101(t-1),RF101(t-2),RF117,RF117(t-1),...,cluster(t-1),cluster(t-2),Q(t-1),Q(t-2),Q(t-3),base flow,Lump temp(t-1),T5(t-1),T10(t-1),T11(t-1)
11688,2009,6,1,0.0,1.0282,1.0,0.0,0.0,1.6,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.0,33.124949,33.60,33.05,32.85
11689,2009,6,2,0.0,0.0000,0.0,1.0,0.0,0.2,1.6,...,1.0282,0.0000,0.0,0.0,0.0,0.0,33.249743,33.65,32.75,33.00
11690,2009,6,3,0.0,0.0000,0.0,0.0,1.0,0.0,0.2,...,0.0000,1.0282,0.0,0.0,0.0,0.0,33.152636,33.55,33.25,33.15
11691,2009,6,4,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.0,33.026611,33.05,32.95,33.15
11692,2009,6,5,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.0,33.900000,33.90,33.60,33.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16066,2021,5,27,0.0,0.0083,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0,0.0,0.0,0.0,33.078998,33.55,33.60,33.15
16067,2021,5,28,0.0,0.0000,0.0,0.0,0.0,5.2,0.0,...,0.0083,0.0000,0.0,0.0,0.0,0.0,32.852387,33.30,33.30,32.80
16068,2021,5,29,0.0,0.1713,0.4,0.0,0.0,0.0,5.2,...,0.0000,0.0083,0.0,0.0,0.0,0.0,33.126443,33.30,33.25,33.15
16069,2021,5,30,0.0,1.0604,1.2,0.4,0.0,0.0,0.0,...,0.1713,0.0000,0.0,0.0,0.0,0.0,33.681231,34.05,33.95,34.00
16070,2021,5,31,0.0,0.4888,0.4,1.2,0.4,0.0,0.0,...,1.0604,0.1713,0.0,0.0,0.0,0.0,31.945709,31.65,31.90,31.75

In [6]:
combinations = [
    ["Lump temp(t-1)","base flow","Q(t-1)","Q(t-2)","RF117(t-1)"],
    ["RF101","base flow","Q(t-1)","Q(t-2)","RF117(t-1)"],
    ["RF101","base flow","Q(t-1)","Q(t-2)","RF80"],
    ["base flow","Q(t-1)","Q(t-2)","T5(t-1)","cluster"],
    ["base flow","Q(t-1)","Q(t-2)","Q(t-3)","cluster"],
    ["base flow","Q(t-1)","Q(t-2)","Q(t-3)","cluster","RF117(t-2)"]
               ]

In [7]:
for i in combinations:
    model = M5Prime(use_pruning = True, use_smoothing = True)
    model.fit(df1[i].values,df1.Discharge.values)
    predicted = model.predict(df2[i].values)
    print(i)
    print(r2_score(df2.Discharge, predicted), mean_squared_error(df2.Discharge, predicted,squared = False))
    print()

['Lump temp(t-1)', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.6830478012509404 87.20729527270687

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.6162881364932331 95.95299744105151

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF80']
0.6633479603525456 89.87658402630139

['base flow', 'Q(t-1)', 'Q(t-2)', 'T5(t-1)', 'cluster']
0.7251570148494655 81.20789646937425

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster']
0.7023325827815492 84.51262324063316

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster', 'RF117(t-2)']
0.7026021866861976 84.47434210295978

In [8]:
for i in combinations:
    model = M5Prime(use_pruning = True, use_smoothing = False)
    model.fit(df1[i].values,df1.Discharge.values)
    predicted = model.predict(df2[i].values)
    print(i)
    print(r2_score(df2.Discharge, predicted), mean_squared_error(df2.Discharge, predicted,squared = False))
    print()

['Lump temp(t-1)', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.4788700192256552 111.82243940087517

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.5396313974085407 105.10146775821525

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF80']
0.39400089091036883 120.58462176797627

['base flow', 'Q(t-1)', 'Q(t-2)', 'T5(t-1)', 'cluster']
0.3618531591746065 123.74174736793388

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster']
0.5522594743211362 103.64995909917344

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster', 'RF117(t-2)']
0.576923190952964 100.75475300658627

In [9]:
for i in combinations:
    model = M5Prime(use_pruning = False, use_smoothing = True)
    model.fit(df1[i].values,df1.Discharge.values)
    predicted = model.predict(df2[i].values)
    print(i)
    print(r2_score(df2.Discharge, predicted), mean_squared_error(df2.Discharge, predicted,squared = False))
    print()

['Lump temp(t-1)', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.6830207068556384 87.2110226146321

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.6142807297830456 96.2036613443814

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF80']
0.6716269833338211 88.76457213190022

['base flow', 'Q(t-1)', 'Q(t-2)', 'T5(t-1)', 'cluster']
0.7303435084591918 80.43802012719912

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster']
0.7059908104116621 83.99170263568712

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster', 'RF117(t-2)']
0.7035303123954568 84.34242439692684

In [10]:
for i in combinations:
    model = M5Prime(use_pruning = False, use_smoothing = False)
    model.fit(df1[i].values,df1.Discharge.values)
    predicted = model.predict(df2[i].values)
    print(i)
    print(r2_score(df2.Discharge, predicted), mean_squared_error(df2.Discharge, predicted,squared = False))
    print()

['Lump temp(t-1)', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.5520383808371365 103.67554702448604

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF117(t-1)']
0.5002399545268192 109.50569323611359

['RF101', 'base flow', 'Q(t-1)', 'Q(t-2)', 'RF80']
0.4419157143314496 115.71930846085867

['base flow', 'Q(t-1)', 'Q(t-2)', 'T5(t-1)', 'cluster']
0.594174739908208 98.67916603186183

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster']
0.5331910823348269 105.83407165079231

['base flow', 'Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'cluster', 'RF117(t-2)']
0.5877558504230873 99.45650260049258